<mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Home</span>
    </a>
    <a mat-list-item routerLink="/tracks" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>graphic_eq</mat-icon>
      <span matListItemTitle>Tracks</span>
    </a>
    <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle>Login</span>
    </a>
  </mat-nav-list>