h1 {
    text-align: center;
}

mat-card {
    max-width: 500px;
    margin: 20px auto;
}

mat-card-header {
    font-size: 20px;
    font-weight: bold;
}

mat-card-footer {
    font-size: 12px;
    text-align: right;
    margin: 6px;
}