<div class="header-text">
    <h1>Login</h1>
    Don't have an account yet? <a routerLink="/register">Register</a>
    @if (signupError) {
        <div class="error-message">
          {{ signupError }}
        </div>
      }
</div>
<div class="signup-container">
    <form [formGroup]="loginForm" (ngSubmit)="signup()" class="signup-form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
  
        <button mat-flat-button color="primary" type="submit">Login</button>
      </form>
</div>